@model UniGradeWebApp.Cathedra

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cathedra</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CathId" />
            <div class="form-group">
                <label asp-for="CathName" class="control-label"></label>
                <input asp-for="CathName" class="form-control" />
                <span asp-validation-for="CathName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CathFac" class="control-label"></label>
                <select asp-for="CathFac" class="form-control" asp-items="ViewBag.CathFac"></select>
                <span asp-validation-for="CathFac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
